body{
  background-image:url('assets/sara-cervera-47urRDhCphA-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* filter: blur(5px); */
  color: rgb(41, 12, 70);
}

.dress-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 20px;
}

.dress-card {
  width: calc(50% - 10px); 
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.dress-image {
  width: 100%;
  height: auto; 
  object-fit: cover; 
}

.dress-info {
  padding: 20px;
}


.dress-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 20px; 
}

.dress-card {
  width: calc(50% - 10px); 
  height: auto; 
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column; 
}

.dress-image {
  width: 100%; 
  height: auto;
  object-fit: cover; 
}

.dress-info {
  padding: 20px;
}


.dress-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 20px; 
}

.dress-card {
  width: calc(25% - 10px); 
  height: auto; 
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex; 
  flex-direction: column; 
}

.dress-image {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

.dress-info {
  padding: 20px;
}


.dress-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.first-image .dress-image {
  width: 150%; 
}

